gnb
    .gnb_wrap.col-12
        .gnb_con.mw-1200.col-center.col-12
            .gnb_inner
                a(href="/" method="post" class="gnb_a") 메인 이동
                a(href="/" class="gnb_a") 테이블 생성
                a(href="/" class="gnb_a") URL로 생성
            