extends layout

block content
    input(type="hidden" name="host" class="host" value=host)
    input(type="hidden" name="user" class="user" value=user)
    input(type="hidden" name="password" class="password" value=password)
    input(type="hidden" name="schema" class="schema" value=schema)
    .content_wrap
        .form_wrap.mw-1200.col-center.col-12       
            .form_con
                .form_label 쿼리문
                input(type="text" name="query" class="query input_600px" value="SELECT * FROM CHAMPIONS")
                button(class='form_query') 검색
        div.history.mw-1200.col-center.col-12    
        
           

