
/**
* GNB
*/
.gnb_wrap{background-color: rgb(39, 135, 245);height:50px; width: 100%;font-family: 'Do Hyeon', sans-serif;font-size: 25px;margin-bottom: 30px;}
.gnb_con{}
.gnb_inner{margin-top: 7px;}
.gnb_a{margin: 5px;text-decoration:none;color: rgb(255,255,255);}
.gnb_a:hover{color: rgb(8, 4, 255);}
/**
* URL_JSON CONTENTS
*/
.form_wrap{}
.warning{color: rgb(243, 64, 64);font-weight: 700;font-size: 13px;}
.form_con{}
.form_label{margin-top: 10px;font-weight: 700;font-size: 20px;}
.url_json_btn_all{font-size: 20px;}
.create_table_btn{margin-bottom: 50px;}

/**
* HISTORY
*/
.history_con{margin: 10px;padding-bottom: 100px;}
.history_title{font-weight: 700;font-size: 20px;margin-bottom: 20px;}
.history_inner{font-weight: 700;font-size: 16px;}
.history_result{margin-bottom: 50px;}
.history_table{margin-bottom: 50px;}
.history_query{margin-bottom: 50px;}